/*
	|--------------------------------------------------------------------------
	| Introduction
	|--------------------------------------------------------------------------
	|.This CSS file uses some modern CSS features that could be
	| incompatible with some older browsers ,
	| So this file should be compiled first using PostCSS.

	| .This theme should contain a compiled and ready to use version
		of this file , Usually under assets/css/dist
		Please check the documentations for more information about using assets.
*/

/*
	TABLE OF CONTENTS
	1- TYPOGRAPHY AND ACCENT COLOR
	2- BLOG
	3- SINGLE POST
*/
@import "settings.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "wordpress-reset.css";

/*
	1- TYPOGRAPHY AND ACCENT COLOR
*/
body {
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
}